@{
    ViewData["Title"] = "Home Page";
}

    <h1>Jobs</h1>
    @if(Model.Count == 0)
    {
        <p>There are no jobs in the list</p>
    }

    <a href="/jobs/new">Add new job listing!</a>

    <ul>
    @foreach(JobPostings job in Model)
    {   
       <li>@job.Title | @job.Description | @job.ContactInfo</li>
    }
    </ul>

